<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     template="/template/page-standard.xhtml" >

     <ui:define name="titre">Liste des comptes</ui:define>

    <ui:define name="contenu">

	<h:form>

		<h:dataTable styleClass="liste" 
			value="#{modelCompte.liste}" var="item" 
			rowClasses="impair, pair" columnClasses="left,left,center"
		>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Pseudo" />
				</f:facet>
				#{item.pseudo}
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Rôle" />
				</f:facet>
				<h:outputText rendered="#{! item.flagAdmin}" value="UTILIDZYRUR" />
				<h:outputText rendered="#{item.flagAdmin}" value="ADMIN" />
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Actions" />
				</f:facet>
				<h:button
					outcome="formulaire?id=#{item.id}"
					image="#{ resource['images:modifier.png'] }"
					title="Modifier" 
					styleClass="image-action"
				/>
				<h:commandButton action="#{modelCompte.supprimer(item)}" 
					value="Supprimer" 
					onclick="return confirm('Confirmez-vous la suppression ?')" 
					image="#{ resource['images:supprimer.png'] }" 
					title="Supprimer"
					styleClass="image-action"
				>
					<f:ajax render="@form" execute="@form" />				
				</h:commandButton>
			</h:column>
			
		</h:dataTable>
		
		<br />
		<h:button value="Ajouter" outcome="formulaire" />

	</h:form>

	</ui:define>

</ui:composition>