<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="/template/page-standard.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets">>

	 <f:metadata>
		 <f:viewParam name="id" value="#{modelEnfant.courant.id}" />
		 <f:viewAction action="#{modelEnfant.actualiserCourant()}" />
	 </f:metadata>

    <ui:define name="titre">Inscription</ui:define>

    <ui:define name="contenu">

	<h:form>
	
		<table class="form">
			<tr>
				<td>
					<h:outputLabel for="id">Id :</h:outputLabel>				
				</td>
				<td>
					<h:inputHidden id="id" size="5" readonly="true"
						value="#{modelEnfant.courant.id}" />
					<br /><h:message for="id" errorClass="error"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputLabel for="nom">Nom :</h:outputLabel>				
				</td>
				<td>
					<h:inputText id="nom" size="25" 
						value="#{modelEnfant.courant.nom}" />
					<br /><h:message for="nom" errorClass="error"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputLabel for="prenom">Prénom :</h:outputLabel>				
				</td>
				<td>
					<h:inputText id="prenom" size="25" 
						value="#{modelEnfant.courant.prenom}" />
					<br /><h:message for="prenom" errorClass="error"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputLabel for="dateNaissance">Date de naissance :</h:outputLabel>				
				</td>
				<td>
					<h:inputText id="dateNaissance" size="10" 
						value="#{modelEnfant.courant.dateNaissance}"> 
						<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:inputText>
					<br /><h:message for="dateNaissance" errorClass="error"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputLabel for="admin">Etablissement :</h:outputLabel>				
				</td>
				<td>
					<h:inputText id="etablissement" size="50" 
                        value="#{modelEnfant.courant.etablissement}" />
					<h:message for="etablissement" errorClass="error"/>
				</td>
			</tr>
		</table>

		<br /> 
		<h:commandButton value="Valider" 
			action="#{modelEnfant.validerMiseAJour()}" />
		<h:button value="Retour" outcome="inscriptionListe" />
	</h:form>

	</ui:define>

</ui:composition>